<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileConveyor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FileConveyor.Properties.Settings>
            <setting name="DateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Destination" serializeAs="String">
                <value />
            </setting>
            <setting name="Filter" serializeAs="String">
                <value>*.*</value>
            </setting>
            <setting name="Rename" serializeAs="String">
                <value>*_?</value>
            </setting>
            <setting name="StartsImmediately" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Upgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </FileConveyor.Properties.Settings>
    </userSettings>
</configuration>